<div class="container">
    <div class="row">
        <div class="navbar navbar-default">
            <div class="container fluid">
                <a href="" class="navbar-brand">Bookshop</a>
            </div>
        </div>
        <div class="col-md-8">
                <div id="home-welcome">
                <h3>Welcome</h3>
                Welcome to my Angular test website.<br/>
                This website was built using the following technologies: HTML5, CSS3,  Bootstrap, AngularJS, jQuery and JSON.
                </div>
        </div>
        <div class="col-md-2">
            <p><span class="glyphicon glyphicon glyphicon-book"></span></p>
        </div>
        <div class="col-md-2">
            <p><span class="glyphicon glyphicon glyphicon-gift"></span></p>
        </div>
    </div>
    <div class="row">
            <app-book></app-book>
    </div>        
</div>    