.book-img {
    width: 100%;
    height: auto;
    max-width: 100px;
}

.category {
    color: #b5ce2f;
}

.btn-success {
    color: #fff;
    background-color: #b5ce2f!important;
    border-color: #e2e2e2;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #b5ce2f!important;
    border-color: #e2e2e2!important;
}
